.headers {
    display: flex;
    background-color: rgb(255, 136, 0);
    padding-left: 50px;
    position: fixed;
    width: 95.5%;
    top: 0;
    z-index: 999;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo p {
    color: white;
    font-weight: bold;
}

.headers .hamlogo {
    margin-top: 15px;
    margin-left: 1200px;
}

.image img {
    height: 300px;
    width: 100%;
}

.image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url("./assets/images/header_image.1dc0f346d407fc577d16.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 20px;
    color: white;
    height: 100px;
    position: relative;
}

.image img {
    height: 700px;
}

.search input {
    height: 40px;
    width: 200px;
    border-radius: 50px;
    border: none;
    color: rgb(107, 105, 105);
    background-color: white;
    padding-left: 20px;
}

.search i {
    color: white;
}

.search i:hover {
    background-color: white;
    color: rgb(255, 136, 0);
}

.search i {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: rgb(255, 136, 0);
}

.search {
    display: flex;
    align-items: center;
    gap: 5px;
}

.imagesearch {
    position: relative;
}

.searchpara {
    position: absolute;
    left: 600px;
    top: 90px;
}

.para p,
h2 {
    color: white;
}

.search input {
    margin-left: 50px;
}

.para p {
    margin-left: 40px;
}

.header {

    background-color: rgb(255, 136, 0);
    padding-left: 50px;
    margin-top: 15px;
}

.home {
    display: flex;
    align-items: center;
    gap: 5PX;
}

.categories {
    display: inline-block;
    text-align: left;
    margin-left: 75px;
}

.underline {
    width: 45px;
    height: 4px;
    margin-left: 75px;
    background-color: rgb(255, 136, 0);

}

.mealunderline {
    margin-top: 60px;
}

.details {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    height: 800px;
    width: 90%;
    margin-left: 75px;
    margin-top: 20px;
    box-shadow: 0 2px 8px rgba(95, 94, 94, 0.1);

}

.images img {
    height: 500px;
    width: 450px;
    margin-top: 30px;
    margin-left: 30px;
}

.para .underline {
    width: 700px;
    height: 2px;
    background-color: rgb(255, 136, 0);
    margin-left: 0px;
}

.catmenu {
    display: flex;
    gap: 10px;
}

.source {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tags {
    display: flex;
    gap: 10px;
    align-items: center;

}

.tags p {
    border: 1px solid rgb(255, 136, 0);
    color: rgb(255, 136, 0);
    height: 20px;
    width: 65px;
    text-align: center;
}

.details {
    display: flex;
    gap: 40px;
}

.number {
    display: flex;
    align-items: center;
}

.number p {
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    color: white;
    background-color: rgb(58, 145, 116);
}

.num1,
.num2,
.num3 {
    display: grid;
    grid-template-columns: repeat(3, 200px);
}

.number p {
    margin-right: 6px;
}

.menu p {
    font-size: 20px;
}

.numbers {
    border: 1px solid rgb(255, 136, 0);
    background-color: rgb(255, 136, 0);
    padding: 10px;
    color: white;
    margin-top: 20px;
    height: 250px;
    width: 660px;
     
}

 /* .p,
.i,
.r,
.y {
    display: flex;
    align-items: center;
}

.measure {
    display: grid;
    grid-template-columns: repeat(1, 200px);
    border: 1px solid black;
    height: 250px;
    width: 900px;
} */
.measure {
    display: flex;
}
