.headers {
    display: flex;
    background-color: rgb(255, 136, 0);
    padding-left: 50px;
    position: fixed;
    width: 95.5%;
    top: 0;
    z-index: 999;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo p {
    color: white;
    font-weight: bold;
}

.headers .hamlogo {
    margin-top: 15px;
    margin-left: 1200px;
}

.image img {
    height: 300px;
    width: 100%;
}

.image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url("./assets/images/header_image.1dc0f346d407fc577d16.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 20px;
    color: white;
    height: 100px;
    position: relative;
}

.image img {
    height: 700px;
}

.search input {
    height: 40px;
    width: 200px;
    border-radius: 50px;
    border: none;
    color: rgb(107, 105, 105);
    background-color: white;
    padding-left: 20px;
}

.search i {
    color: white;
}

.search i:hover {
    background-color: white;
    color: rgb(255, 136, 0);
}

.search i {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: rgb(255, 136, 0);
}

.search {
    display: flex;
    align-items: center;
    gap: 5px;
}

.imagesearch {
    position: relative;
}

.searchpara {
    position: absolute;
    left: 600px;
    top: 90px;
}

.para p,
h2 {
    color: white;
}

.search input {
    margin-left: 50px;
}

.para p {
    margin-left: 40px;
}

.header {

    background-color: rgb(255, 136, 0);
    padding-left: 50px;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

.home {
    display: flex;
    align-items: center;
    gap: 5PX;
}
.home p{
    color: white;
}
.categories {
    display: inline-block;
    text-align: left;
    margin-left: 75px;
}

.underline {
    width: 45px;
    height: 4px;
    margin-left: 75px;
    background-color: rgb(255, 136, 0);

}

.mealunderline {
    margin-top: 60px;
}
.meain-details{
     /* display: flex; */
    gap: 40px;
    background-color:whitesmoke;
    border: 1px solid whitesmoke ;
    height: 900px;
    width: 90%;
    margin-left: 75px;
    margin-top: 20px;
    box-shadow: 0 2px 8px rgba(95, 94, 94, 0.1);
}
.details {
    display: flex;
    gap: 40px;
   
    border: 1px solid whitesmoke ;
    height: fit-content;
    width: 90%;
    margin-left: 75px;
    margin-top: 20px;
    /* box-shadow: 0 2px 8px rgba(95, 94, 94, 0.1); */

}

.images img {
    height: 500px;
    width: 450px;
    margin-top: 30px;
    margin-left: 30px;
}

.para .underline {
    width: 700px;
    height: 2px;
    background-color: rgb(255, 136, 0);
    margin-left: 0px;
}

.catmenu {
    display: flex;
    gap: 10px;
}

.source {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tags {
    display: flex;
    gap: 10px;
    align-items: center;

}

.tags p {
    border: 1px solid rgb(255, 136, 0);
    color: rgb(255, 136, 0);
    height: 20px;
    width: 65px;
    text-align: center;
}

.box{
    background-color:rgb(255, 136, 0);
    color: white;
    width: 530px;
    padding: 10px;
    margin-top: 30px;
    padding-bottom: 20px
}
.box h4{
    font-size: 20px;
    margin-top: 10px;
}
.ingredients {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;

}
.number {
  background-color: #1da4a6;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-weight: bold;
  margin-right: 10px;
}




.measure {
    border: 1px solid black;
    width: 87%;
padding: 20px;
    align-items: center;
    display: flex;
    margin-left: 100px;
    gap: 500px;
      background-color:whitesmoke;
     box-shadow: 0 2px 8px rgba(95, 94, 94, 0.1);
}


.spoon{
   margin-left: 100px;
}
.vegan i{
color: rgb(255, 136, 0);
}